<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>startside</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-left">
          <span class="logo">GetShitDone</span>
        </div>
        <div class="navbar-right">
            <a href="login" class="nav-link">Logg inn</a>
          <a href="login" class="nav-link">Todo-list</a>
        </div>
    </nav>      

    <h1>The Ultimate to-do-list app</h1>
    <h1>Get shit done today</h1>
    <h2>Login to start using the app</h2>

</body>
</html>
