<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Veileder</title>
</head>
<body>
</div>
<div class="navbar-right">
  <a href="/" class="nav-link">Logg Out</a>
  <a href="" class="nav-link">Todo-list</a>
  <a href="/veileder" class="nav-link">Veileder</a>
</div>
    <h1>Veileder</h1>
    <img src="../img/veileder 0.png" alt="veileder">
    <h2>1. Det første man gjør er å legge til en bruker, så da skriver man sudo useradd username</h2>

    <img src="/img/Veileder 0.1.png" alt="">
    <h2>2. Det andre man gjør er å skrive passwd username, sånn at du kan legge til et passord på brukeren så den er tryggere, når du skal over på den brukeren</h2>

    <img src="/img/Veileder (1).PNG" alt="">
    <h2>3. Det tredje man gjør er å gå inn på den nye brukeren du har laget ved å skrive su - username</h2>
</body>
</html>